
  <a href="/feed.xml" id="subscribe-btn"><span>Subscribe</span></a>
  <header id="header">
    <h1 id="logo">
      <%= link_to(image_tag("header.jpg", height: 253, width: 710, title: data.site.name, alt: data.site.name), data.site.url, title: data.site.name, rel: "home") %>
    </h1>
    <!--<h2 class="site-description">Open Source Developer Collective</h2>-->
  </header>
